$darkbluegrey: #121621; 
$green: #40f981;
$red: #fa556b;
$bluegrey: #2A324B; 
$lighterblue: #67faff;
$lightblue: #34E4EA;

$yellowXanthic: #f2f230;
$pinkCharm: #db93b0;
$greenInchworm: #c2f261;
$greenLight: #91f291;
$blueSky: #84e6f8;